html {
    font-size: 100%;
}


body {
    background:#ddd;
}


#container {
    max-width: 920px;
    width: 95%;
    margin: 30px auto;
}


header {
    height: 150px;
    margin-bottom: 20px;
    background: url("../images/judo-resized.jpg") no-repeat center;
    background-clip: content-box;
}


header h1 {
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 2.5em;
    margin-top: 15px;
    color: #00FF00;
    text-align: center;
    text-shadow: 2px 1px 5px black;
}


.header-title {
    display: block;
}


article {

    background: white;
    font-size: 0.8em;
    line-height: 1.5em;
}


article h2 {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 0;
}


.bordered {
    border-radius: 5px;
    padding: 10px;
    border: 3px solid rgba(155, 155, 155, 0.05);
}


/** 
 
Your media query rules should go next!

*/


@media screen and (min-width: 640px) {

    
    header {
        background: url("../images/150-sporty.jpg") no-repeat center left;
        background-clip: content-box;
    }
    
    header h1 {
        color: #2EA6FF;
        padding-left: 165px;
    }
    
    article {
        overflow: hidden;   
    }
    
    .article-col {
    width: 50%;
    box-sizing: border-box;
}

.article-col.left {
    padding-right: 30px;
}

.article-col.right {
    padding-left: 30px;
}
    
    
.left {
    float: left;
}

.right {
    float: right;
}
}